.about {
  padding: 20px;
  &__header {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    grid-gap: 2rem;
    .about__title--container {
      h2 {
        margin: 0;
        margin-bottom: 6px;
      }
      .subrayado {
        width: 20%;
        height: 3px;
        background-color: $color-secundario;
      }
    }
    .about__red--image {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  &-text {
    text-align: right;
    font-size: 1.3rem;
  }

  &__perfil--image {
    margin: 28px 0;
    img {
      border-radius: 6px;
      max-height: 200px;
      margin: 0 auto;
      display: flex;
    }
  }
  &__skills {
    .skill--box {
      width: 100%;
      background: #e8e8e8;
      border-radius: 2px;
      margin-bottom: 16px;
      height: 30px;
    }

    .skill {
      background: #116cff;
      border-bottom-left-radius: 2px;
      border-top-left-radius: 2px;
      display: flex;
      height: 100%;
    }

    .skill--image {
      width: 35px;
      background: #0058e6;
      padding: 4px;
      border-bottom-left-radius: 2px;
      border-top-left-radius: 2px;
      display: flex;
      align-items: center;

      img {
        display: flex;
        margin: 0 auto;
        width: 24px;
        height: 24px;
      }
    }

    .skill--name {
      font-weight: bold;
      font-size: 1.3rem;
      display: flex;
      align-items: center;
      margin-left: 6px;
    }
    .html {
      width: 90%;
    }
    .css {
      width: 80%;
    }
    .javascript {
      width: 84%;
    }
    .react {
      width: 88%;
    }
    .firebase {
      width: 60%;
    }
    .git {
      width: 75%;
    }
  }
}
