.contacto {
  background-color: #15202b;
  background-image: linear-gradient(180deg, #15202b 0%, #213a57 100%);

  padding: 10px 20px;
  .contacto--title {
    width: fit-content;
    h2 {
      margin: 0;
      margin-bottom: 6px;
    }
  }
  .btn.btn-contacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-bottom: 18px;
    font-weight: bold;
    font-size: 1.6rem;
    img {
      width: 30px;
    }
  }

  .first {
    background: $color-secundario;
  }
  .first:hover {
    background: #2ba979;
  }

  .second:hover {
    background: #087dc7;
  }

  .contacto-frase {
    font-size: 1.4rem;
  }

  a {
    letter-spacing: 2px;
    color: #e0e0e0;
  }
}

@media (min-width: 600px) {
  .contacto {
    &--buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 28px;
    }
  }
}

@media (min-width: 750px) {
  .contacto {
    padding: 10px 86px;
  }
}
