$color-background: #15202b;
$color-principal: #116cff;
$color-secundario: #2bc48a;
$color-letra1: #e0e0e0;
$color-letra2: #c2c2c2;

$width-html: 90%;
$width-css: 80%;
$width-js: 90%;
$width-react: 90%;
$width-firebase: 60%;
$width-git: 80%;
html {
  font-size: 62%;
}

body {
  background-color: $color-background;
  margin: 0%;
  color: white;
  font-family: system-ui;

  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

.btn {
  text-align: center;
  padding: 0.6em 0.8em 0.8em;
  border: none;
  color: white;
  background: #0093f0;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset 0 -0.4em rgba(0, 0, 0, 0.2);
  outline: 0;
  transition: 0.2s;
  text-decoration: none;
  will-change: transform;
  font-size: 1.2rem;
}
.btn:active {
  transform: scale(0.9);
}

.subrayado {
  width: 20%;
  background: $color-secundario;
  height: 3px;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  line-height: none;
}

.btn.btn-contacto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 18px;
  font-weight: bold;
  font-size: 1.6rem;
  img {
    width: 30px;
  }
}

.first {
  background: $color-secundario;
}
.first:hover {
  background: #2ba979;
}

.second:hover {
  background: #087dc7;
}

.contacto-frase {
  font-size: 1.4rem;
}

@media (min-width: 750px) {
  html {
    font-size: 70%;
  }
}
