$color-background: #15202b;

html {
  font-size: 62%;
}

main {
  padding: 1rem 2rem;
}

body {
  background-color: $color-background;
  margin: 0%;
  color: white;
  font-family: system-ui;

  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 1.8rem;
  }
}
