html {
  font-size: 62%;
  scroll-behavior: smooth;
}

body {
  background-color: #15202b;
  margin: 0%;
  color: white;
  font-family: system-ui;
}
body h1 {
  font-size: 3rem;
}
body h2 {
  font-size: 2.4rem;
}
body h3 {
  font-size: 1.8rem;
}
body a {
  text-decoration: none;
  color: white;
}

.btn {
  text-align: center;
  padding: 0.6em 0.8em 0.8em;
  border: none;
  color: white;
  background: #0093f0;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset 0 -0.4em rgba(0, 0, 0, 0.2);
  outline: 0;
  transition: 0.2s;
  text-decoration: none;
  will-change: transform;
  font-size: 1.2rem;
}

.btn:active {
  transform: scale(0.9);
}

.subrayado {
  width: 20%;
  background: #2bc48a;
  height: 3px;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  line-height: none;
}

.btn.btn-contacto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 18px;
  font-weight: bold;
  font-size: 1.6rem;
}
.btn.btn-contacto img {
  width: 30px;
}

.first {
  background: #2bc48a;
}

.first:hover {
  background: #2ba979;
}

.second:hover {
  background: #087dc7;
}

.contacto-frase {
  font-size: 1.4rem;
}

@media (min-width: 750px) {
  html {
    font-size: 70%;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #15202b;
  position: sticky;
  padding: 12px 20px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.header__logo--container img {
  width: 35px;
  opacity: 0.9;
  position: relative;
  z-index: 999;
}
.header__menu--container {
  cursor: pointer;
}
.header__menu--container img {
  width: 34px;
  position: relative;
  z-index: 999;
}
.header .menu {
  background: #203853;
  position: fixed;
  top: -30vh;
  right: 0;
  left: 0;
  padding: 10px;
  transition: 1s;
  opacity: 1;
  display: block;
}
.header .menu ul {
  margin-top: 6vh;
  text-align: center;
}
.header .menu ul li {
  font-size: 1.8rem;
  margin: 12px 0px;
  font-weight: bold;
}
.header .menu ul img {
  width: 22px;
}
.header .menu .menu--buttons {
  display: grid;
}
.header .menu .menu--buttons img {
  width: 22px;
}

.open {
  display: none;
}

@media (min-width: 750px) {
  .menu--buttons {
    grid-template-columns: 1fr 1fr;
    grid-gap: 28px;
  }

  .header {
    padding: 12px 86px;
  }
}
.hero {
  padding: 20px;
  display: flex;
  height: 80vh;
  position: relative;
  align-items: center;
  justify-content: center;
  background: url("../images/red1.svg") no-repeat bottom right, url("../images/red2.svg") no-repeat top left;
}
.hero__image--container img {
  width: 100%;
  height: 250px;
}
.hero__text--container .hero--title {
  text-align: center;
  font-size: 3rem;
}
.hero__text--container .hero--frase {
  text-align: center;
  font-size: 1.4rem;
  color: #c2c2c2;
  margin-bottom: 24px;
}
.hero__text--container .hero--flecha {
  margin: 0 auto;
  display: flex;
  position: absolute;
  width: 20px;
  right: 0;
  left: 0;
  bottom: 0;
  animation-name: subeBaja;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
}

@keyframes subeBaja {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 4px;
  }
}
@media (min-width: 750px) {
  .hero {
    padding: 20px 86px;
  }
}
.about {
  padding-top: 50px;
  background: url("../images/red2.svg") no-repeat top left, url("../images/red1.svg") no-repeat right, url("../images/red1.svg") no-repeat left;
}
.about__header {
  background-color: #15202b;
  background-image: linear-gradient(0deg, #15202b 0%, #213a57 100%);
  padding: 20px;
}
.about__header .about__title--container h2 {
  margin: 0;
  margin-bottom: 6px;
}
.about__header .about__title--container .subrayado {
  width: 20%;
  height: 3px;
  background-color: #2bc48a;
}
.about__header .about__red--image {
  width: 100%;
}
.about__header .about__red--image img {
  width: 100%;
}
.about__header .short {
  width: fit-content;
}
.about__me {
  padding: 0 20px;
}
.about__me .about-text {
  text-align: left;
  font-size: 1.4rem;
  color: #e0e0e0;
}
.about__me .about__perfil--image {
  margin: 28px 0;
}
.about__me .about__perfil--image img {
  border-radius: 6px;
  max-width: 265px;
  margin: 0 auto;
  display: flex;
}
.about__skills {
  background: url("../images/red1.svg") no-repeat top right;
  padding: 20px;
}
.about__skills .skill--box {
  width: 100%;
  background: #e8e8e8;
  border-radius: 6px;
  margin-bottom: 16px;
  height: 30px;
  overflow: hidden;
}
.about__skills .skill {
  background: #116cff;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  display: flex;
  height: 100%;
}
.about__skills .skill--image {
  width: 35px;
  background: #0058e6;
  padding: 4px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  display: flex;
  align-items: center;
}
.about__skills .skill--image img {
  display: flex;
  margin: 0 auto;
  width: 24px;
  height: 24px;
}
.about__skills .skill--name {
  font-weight: bold;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  margin-left: 6px;
}
.about__skills .html {
  animation: html 2s forwards;
}
.about__skills .css {
  width: 90%;
  animation: css 2s forwards;
}
.about__skills .javascript {
  width: 90%;
  animation: js 2s forwards;
}
.about__skills .react {
  width: 88%;
  animation: react 2s forwards;
}
.about__skills .firebase {
  width: 60%;
  animation: firebase 2s forwards;
}
.about__skills .git {
  width: 75%;
  animation: git 2s forwards;
}

@media (min-width: 750px) {
  .about__header {
    padding: 20px 86px;
  }

  .about__me {
    padding: 0 86px;
  }

  .about__skills {
    padding: 20px 86px;
  }
}
@media (min-width: 600px) {
  .about-text {
    width: 100%;
  }
  .about-text p {
    width: 40%;
    margin: 0 auto;
  }

  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 28px;
  }
}
@media (min-width: 775px) {
  .about__header {
    grid-template-columns: 70% 30%;
  }
}
@keyframes html {
  0% {
    width: 0;
  }
  100% {
    width: 96%;
  }
}
@keyframes css {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}
@keyframes js {
  0% {
    width: 0;
  }
  100% {
    width: 93%;
  }
}
@keyframes react {
  0% {
    width: 0;
  }
  100% {
    width: 94%;
  }
}
@keyframes firebase {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}
@keyframes git {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
.proyectos {
  padding: 20px;
  padding-top: 50px;
}
.proyectos .proyecto--title {
  width: fit-content;
  margin-bottom: 24px;
}
.proyectos .proyecto--title h2 {
  margin-bottom: 6px;
}
.proyectos__container .proyecto--box {
  margin: 20px 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 40px;
}
.proyectos__container .proyecto--box .proyecto--puntos-container {
  display: flex;
  background: #1f2123;
  padding: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.proyectos__container .proyecto--box .proyecto--puntos-container .punto {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  margin-right: 8px;
  transition: 0.5s;
}
.proyectos__container .proyecto--box .proyecto--puntos-container .uno {
  background: #bf5331;
}
.proyectos__container .proyecto--box .proyecto--puntos-container .dos {
  background: #fc8d0c;
}
.proyectos__container .proyecto--box .proyecto--puntos-container .tres {
  background: #00ac64;
}
.proyectos__container .proyecto--box .proyecto--imagen img {
  width: 100%;
}
.proyectos__container .proyecto--box .proyecto-description {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.proyectos__container .proyecto--box .proyecto-description .btn {
  text-align: center;
  padding: 0.6em 0.8em 0.8em;
  border: none;
  color: #e0e0e0;
  background: #0093f0;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset 0 -0.4em rgba(0, 0, 0, 0.2);
  outline: 0;
  transition: 0.2s;
  text-decoration: none;
  will-change: transform;
  font-size: 1.2rem;
  font-weight: bold;
}
.proyectos__container .proyecto--box .proyecto-description .btn:active {
  transform: scale(0.8);
}
.proyectos__container .proyecto--box .proyecto-description .proyecto-tecnologies span {
  margin-right: 6px;
  font-weight: bold;
  font-size: 1.2rem;
  color: #c1c1c1;
}
.proyectos__container .proyecto--box:hover .punto {
  margin-right: 16px;
}

@media (min-width: 600px) {
  .proyectos__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 28px;
  }

  .proyecto--box {
    margin: 0;
  }
}
@media (min-width: 750px) {
  .proyectos {
    padding: 50px 86px;
  }
}
@media (min-width: 900px) {
  .proyectos__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 28px;
  }

  .proyecto--box {
    margin: 0;
  }
}
footer {
  background: #15202b;
  padding: 12px;
}
footer .footer--by {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer--by p {
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 2px;
  margin: 0 6px;
  color: #c2c2c2;
}
footer .redes-sociales {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 16px;
}

@media (min-width: 600px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }
  footer .redes-sociales {
    margin-bottom: 0;
    width: 260px;
    display: flex;
    justify-content: space-around;
  }
}
.contacto {
  background-color: #15202b;
  background-image: linear-gradient(180deg, #15202b 0%, #213a57 100%);
  padding: 10px 20px;
}
.contacto .contacto--title {
  width: fit-content;
}
.contacto .contacto--title h2 {
  margin: 0;
  margin-bottom: 6px;
}
.contacto .btn.btn-contacto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 18px;
  font-weight: bold;
  font-size: 1.6rem;
}
.contacto .btn.btn-contacto img {
  width: 30px;
}
.contacto .first {
  background: #2bc48a;
}
.contacto .first:hover {
  background: #2ba979;
}
.contacto .second:hover {
  background: #087dc7;
}
.contacto .contacto-frase {
  font-size: 1.4rem;
}
.contacto a {
  letter-spacing: 2px;
  color: #e0e0e0;
}

@media (min-width: 600px) {
  .contacto--buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 28px;
  }
}
@media (min-width: 750px) {
  .contacto {
    padding: 10px 86px;
  }
}

/*# sourceMappingURL=styles.css.map */
